{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/blog.css'%}">
        <title>Patrick Fisioterapeuta</title>
    </head>
<body>
    <div class="cabeca">
        <h1> Patrick CFT</h1>
    </div>
    <div class="container">
        <header>
            <ul class="menu">
                <l1>Ínicio</l1>
                <l1>Portifólio</l1>
                <l1>Informações</l1>
                <l1>Contato</l1>
            </ul>
        </header>
        <main>
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <aside>
            <div class="noticiapri">
                <h1>Notícias</h1>
            </div>
            <div class="noticiasec">
                <h1>Caos</h1>
                <p1>Isso dá muito trabalho, mas é muito legalzinho</p1>
            </div>
        </aside>
        <footer>
            <ul>
                <l1>Produção</l1>
                <l1>Contato</l1>
            </ul>
        </footer>
    </div>
</body>
</html>