body {
    background-color:#000000;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.cabeca {
    color: #505050;
}
.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 5vh 80vh 20vh;
    grid-gap: 10px 10px;
    grid-template-areas: "h h"
    "m a"
    "f f";

}

header {
    background-color:#302f2f;
    height: 100%;
    grid-area: h;
    text-align:start;
}


l1 {
    color: chartreuse;
    height: 40%;
    font-size:medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    
}
h1, h2, p1 {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color: #505050;
    height: 100%;
    grid-area: m;
}

aside {
    background-color: #505050;
    grid-area: a;
}

footer {
    background-color:#302f2f;
    grid-area: f;
    text-align: center;
}